# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor directories and files
# ignore dirs
.idea
*.idea/*
*/target/
target/
/.settings/
.flattened-pom.xml

# ignore files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
**/.DS_Store
